<h1 align="center">Ваше резюме</h1>

<div class="body">
<div class="col1">
    <img src="assets/photo.png" alt="Ваша фотография">
    <h3>Ашкеев Алдияр Русланович</h3>
    <h5>27.07.2006 г.</h5>
</div>

<div class="col2">
    <h2>Опыт работы</h2>
    <p>Место работы: [название места работы]</p>
    <p>Должность: [должность]</p>
    <p>Период работы: [период работы]</p>
    <p>Описание работы: [описание работы]</p>
    
    <h2>Навыки, знания и сертификаты</h2>
    <p>Навык 1: [название навыка]</p>
    <p>Навык 2: [название навыка]</p>
    <p>Знание 1: [название знания]</p>
    <p>Знание 2: [название знания]</p>
    <p>Сертификат 1: [название сертификата]</p>
    <p>Сертификат 2: [название сертификата]</p>
    <p>Соц. сети и способы связи: </p>
    <a href="https://github.com/Aldiyar27/" target="_blank">GitHub</a>
</div>
</div>
