<div class="body">
    <div class="quote">
        <h3>"If you think your teacher is tough, wait till you get a boss" <br>
            "Life is not fair — get used to it!" <br>
            "Success is a lousy teacher. It seduces smart people into
            thinking they can’t lose" <br>
            "Be nice to nerds. Chances are you’ll end up working for one"
        </h3>
    </div>
    <div class="bio">
        <img src="assets/Bill.jpg" alt="123" height="250" width="150">
        <span>Уильям Генри Гейтс III - 28 октября 1955, более известный как <br> 
            Билл Гейтс — американский предприниматель и общественный деятель, <br> 
            филантроп, один из создателей и бывший крупнейший <br> 
            акционер компании Microsoft.До июня 2008 года являлся <br>
            руководителем компании после ухода с поста остался в <br>
            должности её неисполнительного председателя совета директоров. <br>
            Также является сопредседателем благотворительного <br>
            Фонда Билла и Мелинды Гейтс, членом совета директоров <br>
            Berkshire Hathaway,генеральным директором Cascade Investment.</span>
    </div>
    <div class="hr">
        <ul>
            <li>https://en.wikipedia.org/wiki/Bill_Gates</li>
            <li>https://www.gatesfoundation.org/</li>
            <li>https://www.gatesnotes.com/</li>
            <li>https://twitter.com/billgates</li>
        </ul>
    </div>
</div>